<!doctype html>
<html>
<head>
    <title>lol champion info site</title>
<!--    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
    {% block add_css %}
    {% endblock %}
</head>
<body>
    <div class="page-header">
        <h1>{% block title %}{% endblock %}/<small><a href="{% block link %}{% endblock %}">{% block link_name %}{% endblock %}</a></small></h1>

    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
